.navbar-light{
	background-color: orange; 
}
.container{
	margin-bottom: 0px;
}

.img1{
	width: 70%;

}

.container_bread{
background-color: rgba(255, 171, 16,0.5 );

}

.img2{
	width: 40%;
	margin-left: auto;
}

p{
	text-align: justify;
	font-family: 'Work Sans', sans-serif;
}

h2 {
	text-align: center;
	font-family: 'Itim', cursive;
}
h5{
text-align: center;
	font-family: 'Itim', cursive;	
}
h1 {
font-family: 'Itim', cursive;
font-size: 3em;
}

a{
	font-family: 'Itim', cursive;
}
.text_tittle{
font-family: 'Itim', cursive;

}

body{
	background-color: cornsilk;
}

.jumbotron{
	
	background-color: rgba(255, 171, 16,0.5 );

}

.ref{
	background-color: rgba(255, 171, 16,0.5 );
	padding-bottom: 20px;

}


a{
	color: deeppink;

}

